@import "vars";


/*==========  Desktop First  ==========*/


@include media-breakpoint-down(lg) {

}

// ≥1366px
@include media-breakpoint-down(md) {
  .item-infoblock{
    margin-right: -75px;
  }
  .the-same-item__container{
    width: 215px;
    float: right;
    margin: 0;
    margin-left: -10px;
  }
  .item__the-same-wrapper{
    margin-right: 10px;
    margin-left: -10px;
  }
  .the-same-item__container .mCSB_scrollTools .mCSB_buttonDown,
  .the-same-item__container .mCSB_scrollTools .mCSB_buttonUp{
    right: 88px;
  }
}

// ≥1280px
@include media-breakpoint-down(sm) {
  .search-box__input{
    width: 320px;
  }
  .the-same-item__container{
    width: 100%;
    padding: 0;
    position: relative;
    .item__the-same-left-scroll,.item__the-same-right-scroll{
      bottom: 42px;
    }
    .mCSB_inside > .mCSB_container{
      margin-left: 0;
    }
  }
  .item__the-same-wrapper{
    max-height: 100px;
    margin: 0;
    padding: 0 35px;
  }
  .item__the-same{
    display: inline-flex;
    margin-right: 45px;
    max-width: 200px;
  }
  .item__the-same-like{
    top: 64px;
    left: 70px;
  }
  .item__the-same__header{
    margin-bottom: 2px;
  }
  .item__the-same__image{
    margin: 10px 10px 30px 0;
  }
  .wrapper .item-main-menu{
    margin-right: -427px;
  }
  .other-categories__item, .history-items__item{
    margin: 45px 5px 0;
  }
  .work-time{
    width: auto;
  }
  .main-menu--footer{
    margin-top: -4px;
  }
  .contact-info{
    margin-top: -4px;
  }
  /*catalog*/
  .filter-wrapper{
    min-width: 247px;
    width: 247px;
  }
  .catalog__item{
    margin-right: 0;
    margin-left: 9px;
  }
  .phones-block{
    width: 48%;
  }
  .work-time{
    width: 52%;
  }
  .search-box__result{
    width: 400px;
  }
  .order-panel-wrap .new-user-form .do-no-call-me .infolabel, .order-panel-wrap .register-user-form .do-no-call-me .infolabel{
    display: none;
  }
}

// ≥1024px
@include media-breakpoint-down(xs) {
  .mobile-12{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
  .main-menu{
    display: block;
    height: auto;
    .main-menu__item{
      text-align: center;
      padding: 0;
    }
  }
  .main-menu--right{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    .main-menu__item--right{
      width: 100%;
    }
  }
  .main-menu__item--right:last-child{
    border: none;
  }
  .logo-and-contacts{
    height: auto;
    margin: 15px auto 0;
  }
  .logo img{
    display: block;
    margin: 0 auto;
  }
  .contact-info{
    flex-wrap: wrap;
    margin: 5px 25px;
  }
  .phones-block{
    width: 100%;
    padding-left: 28px;
    margin-bottom: 10px;
  }
  .work-time{
    width: 100%;
    padding-left: 28px;
  }
  .header-menu__wrapper{
    flex-wrap: wrap;
    width: 100%;
  }
  .drop-menu-button{
    width: 100%;
  }
  .search-box{
    display: none;
  }
  .filter-wrapper {
    min-width: 100%;
    width: 100%;
    padding: 0;
  }
  .catalog-wrapper{
    flex-wrap: wrap;
  }
  .catalog__banners{
    display: none;
  }
  .catalog__items-list{
    justify-content: center;
  }
  catalog__item.active{
    margin-right: -40px;
  }
  .catalog__item.active .item-catalog__item-detail{
    box-shadow: none;
  }
  .catalog__item.active{
    box-shadow: none;
  }
  .other-categories{
    display: none;
  }
  .history-items{
    display: none;
  }
  .header-buttons {
    width: 100%;
    height: 57px;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: #f44336;
    display: flex;
    justify-content: space-around;
    z-index: 10;
  }
  .drop-menu-button{
    width: 100%;
    height: auto;
    position: absolute;
  }
  .breadcrumbs{
    margin-top: 50px;
  }
  .button--mobile-version{
    margin: 0 auto;
    display: block !important;
    width: 240px;
  }
  .main-menu--footer {
    display: block;
    position: static;
    margin: 0 auto;
    margin-top: 20px;
  }
  .phones-block, .work-time{
    width: auto;
    display: inline-block;
    margin: 0 auto;
  }
  .work-time{
    margin-top: 25px;
  }
  .popup-wrapper .basket__popup .popup-content{
    padding: 0 10px;
  }
  .catalog__item-wrap{
    height: 100%;
  }
  .catalog__item-img-wrap{
    height: 100%;
  }
  .interested-items{
    display: none;
  }
  .popup-wrapper .basket__popup .item-counter {
    display: inline-flex;
    position: absolute;
    right: initial;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
  }
  .popup-wrapper .basket__popup .close {
    position: absolute;
    background-image: url(../img/close-red-icon.png);
    width: 12px;
    height: 12px;
    top: -12px;
    right: 12px;
  }
  .basket__confirm-button-wrap{
    flex-wrap: wrap;
    .button{
      display: block;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
  .popup-wrapper .basket__popup .basket__confirm-button-wrap .basket__confirm-button {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 5px 15px;
  }
  .popup-wrapper .basket__popup .basket__confirm-button-wrap .basket__cancel-button {
    margin: 10px 15px;
    width: 100%;
  }

  .delivery-and-payment__popup{
    width: 98% !important;
    .popup-panel{
      width: 98%;
    }
  }
  .catalog__item .item-buy-panel{
    position: absolute;
    top: 0;
    z-index: 9;
  }
  .catalog__item-wrap{
    position: relative;
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
  .bgc-grey, .logo-and-contacts, .header-menu{
    .container{
     /* max-width: 1366px;*/
      margin-left: auto;
      margin-right: auto;
    }
  }
}
