$default-font: "OpenSans-Regular", sans-serif;
$accent: #f44336;
$active-accent: #d32f2f;
$text: #212121;
$text-white: #ffffff;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 0px;
$grid-columns: 12;
$grid-breakpoints: (xs: 1px, sm: 1024px, md: 1280px, lg: 1366px, xl: 1920px);
$container-max-widths: (sm: 1024px, md: 1280px, lg: 1366px, xl: 1920px);

$gutter: $grid-gutter-width;


/*User vars*/
$font-main: 14px/18px "OpenSans-SemiBold", sans-serif;