$default-font: "OpenSans-Regular", sans-serif;
$font-semibold: "OpenSans-SemiBold", sans-serif;
$accent: #f44336;
$active-accent: #d32f2f;
$text: #212121;
$text-white: #ffffff;
$sand-color: #fff0b2;
$border: 1px solid #eee;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 0px;
$grid-columns: 24;
$grid-breakpoints: (xs: 0px, sm: 1024px, md: 1280px, lg: 1366px, xl: 1800px);
$container-max-widths: (sm: 1024px, md: 1280px, lg: 1366px, xl: 1792px);

$gutter: $grid-gutter-width;


/*User vars*/
$font-main: 14px/18px "OpenSans-SemiBold", sans-serif;